@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label_labelText{
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important; 
}

/* Limit the width of calendar events */
.rbc-event {
  width: 60px; /* Adjust this value as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.rbc-event-label {
  white-space: nowrap; /* Ensure event labels don't overflow */
  text-overflow: ellipsis; /* Show ellipsis if text is too long */
  overflow: hidden;
}

/* Optional: Adjust the calendar view to have a wider layout */
.rbc-work-week-view .rbc-time-slot {
  width: 150px; /* Customize the width of the time slots */
}

.rbc-day-slot {
  width: 150px; /* Customize the width of day slots */
}


